body{
	background-image: url(../Imagenes/iglesiacajamarca.jpg);
	background-attachment: fixed;
	margin: 0px;
}


 
p{
	background-color: rgba(12, 106, 239,0.4);
	 backdrop-filter: blur(5px);
}

h1,p,form
{
	color: white;
}

form{
    backdrop-filter: blur(5px);
}

.Menu{
	width: 100%;
	height: 40px;
}

.Menu ol{
	
	text-align: center;
	position: fixed;
	width: 100%;
}

.Menu li{
	color: white;
	display: inline-block;
	margin-right: 2%;
	font-size: 1.7em;
	font-family: Comic Sans MS;
	margin-top: -1em;
	padding: 0.5px;



}

li:hover{
	background-color: #F3CE39;
	color: red;
	transition-duration: 0.9s;
	border-radius: 10px;
}